[Desktop Entry]
Name=COSMIC Applet Cpu
Exec=cosmic-applet-cpu %F
Terminal=false
Type=Application
StartupNotify=true
Icon=another.lusitano.AppletCpu
Categories=COSMIC;Utility;
Keywords=Folder;Manager;
MimeType=inode/directory;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
